<div class="container">
    <div class="row" *ngFor="let i of pollRows">
        <div class="col-xs-4">
            <md-card *ngIf="polls[i*3]" class="poll-card animated fadeIn" (click)="goToDetail(i*3)">
                <span class="caption">{{polls[i*3]?.name}}</span>
                <md-chip-list class="pull-right">
                    <md-chip selected="true" color="primary" class="votes-badge">{{polls[i*3]?.votes.length}} votes<i class="btn-remove mdi mdi-delete pull-right mdi-18px" (click)="delete($event,i*3)"></i></md-chip>
                </md-chip-list>
            </md-card>
        </div>
        <div class=" col-xs-4 ">
            <md-card *ngIf="polls[i*3+1] " class="poll-card animated fadeIn" (click)="goToDetail(i*3+1)">
                <span class="caption">{{polls[i*3+1]?.name}}</span>
                <md-chip-list class="pull-right">
                    <md-chip selected="true" color="primary" class="votes-badge">{{polls[i*3+1]?.votes.length}} votes<i class="btn-remove mdi mdi-delete pull-right mdi-18px" (click)="delete($event,i*3+1)"></i></md-chip>
                </md-chip-list>
            </md-card>
        </div>
        <div class="col-xs-4 ">
            <md-card *ngIf="polls[i*3+2] " class="poll-card animated fadeIn" (click)="goToDetail(i*3+2)">
                <span class="caption">{{polls[i*3+2]?.name}}</span>
                <md-chip-list class="pull-right">
                    <md-chip selected="true" color="primary" class="votes-badge">{{polls[i*3+2]?.votes.length}} votes<i class="btn-remove mdi mdi-delete pull-right mdi-18px" (click)="delete($event,i*3+2)"></i></md-chip>
                </md-chip-list>
            </md-card>
        </div>
    </div>
</div>
<button md-fab color="primary" class="speed-dial mdi mdi-plus mdi-36px" (click)="add()"></button>