<div class="dialog-container">
    <h3>Add new Poll</h3>
    <div>
        <p>
            <md-input-container class="full-width">
                <input mdInput placeholder="Poll name" [(ngModel)]="pollName">
            </md-input-container>
        </p>
        <p>
            <md-input-container class="full-width">
                <input mdInput placeholder="Values (comma separated)" [(ngModel)]="options">
            </md-input-container>
        </p>
    </div>
    <div>
        <button md-button color="accent" (click)="add()">Ok</button>
        <button md-button color="accent" (click)="cancel()">Cancel</button>
    </div>
</div>